#newsStoriesContainer {
    display: block;
    margin: 50px auto auto auto;
}

.storyContainer {
    display: flex;
    margin: 100px auto auto auto;
    width: 85%;
    background-color: #0b5395;
    border-style: solid;
    border-color: #0b5395;
    border-width: 25px;
    border-radius: 5px;
}

.newsStoryImage {
    width: 200px;
    border-radius: 5px;
}

.titleAndContentContainer {
    margin: auto auto auto 30px;
}

.storyLink {
    text-decoration: none;
    font-size: 2em;
    transition: color 0.3s;
}

.storyLink:hover {
    color: white;
} 
